* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: #494f4a;
}

.header__panel {
  height: 38px;
  max-width: 100%;
  position: sticky;
  background: #2F2C42;
}
.header__panel .wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  height: 38px;
}
.social .social__item {
  margin-right: 28px;
}

.image_wrapper {
  background-image: url("images/back-wrapper-2.jpg");
  width: 1200px;
  height: 266px;
  margin: 0 auto;
}

.description {
  padding-top: 30px;
  text-align: center;
  font-family: Georgia;
}
.description h1 {
  font-size: 64px;
  font-weight: 200;
  color: #58517E;
}
.description span {
  font-size: 18px;
  font-family: Serif;
  display: block;
  color: #514E4E;
  line-height: 19px;
}

.navigation {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}
.navigation .button {
  width: 200px;
  height: 40px;
  background: #58517E;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #ECE0E0;
}
.navigation .button:hover {
  background: #836CFF;
  transition-duration: 0.5s;
  cursor: pointer;
}
.navigation a {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}

.cart_title {
  font-weight: 200;
  font-family: sans-serif;
  font-size: 30px;
  color: #2F2C42;
  padding: 25px;
  margin: 0 auto;
  max-width: 1200px;
}

.decoration_line {
  height: 1px;
  width: 1200px;
  background: #2F2C42;
  margin: 0 auto;
}

.main_content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.product_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product {
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 35px 14px rgba(72, 94, 74, 0.04);
  font-family: sans-serif;
  width: 500px;
}
.product_image {
  display: flex;
  flex-direction: column;
}
.product_image_inner {
  margin-bottom: 22px;
  padding: 8.6px;
}
.product_title {
  display: flex;
  flex-direction: column;
  color: #434343;
}
.product_title_inner {
  margin-bottom: 20px;
  padding: 50px;
}
.product_price {
  display: flex;
  flex-direction: column;
  color: #836CFF;
  font-weight: bolder;
}
.product_price_inner {
  margin-bottom: 20px;
  padding: 50px;
}

.price {
  min-width: 300px;
  box-shadow: 0 2px 35px 14px rgba(72, 94, 74, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.price .price_total {
  margin-top: 15px;
  font-size: 20px;
  padding: 10px;
}
.price .price_total .green {
  color: #836CFF;
  font-weight: bolder;
}
.price .popup_button {
  width: 200px;
  height: 50px;
  background: #2F2C42;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  border: none;
  font-size: 15px;
}
.price .popup_button:hover {
  background: #836CFF;
  transition-duration: 0.5s;
  cursor: pointer;
}
.price .clear_button {
  color: #393F3A;
  text-decoration: none;
  margin: 30px;
}
.price .clear_button:hover {
  text-decoration: underline;
}

.footer {
  width: 1200px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2F2C42;
}
.footer h2 {
  font-size: 48px;
  color: #ECE0E0;
  font-weight: lighter;
}
.footer span {
  display: block;
  font-size: 18px;
  color: #ECE0E0;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease 0s;
}
.popup h2 {
  text-align: center;
  font-family: sans-serif;
  color: #2F2C42;
}
.popup_content {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup #contact {
  min-width: 300px;
  min-height: 150px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  outline: none;
  margin: 20px;
  resize: none;
  padding: 10px;
}
.popup .popup_action {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup input {
  width: 180px;
  height: 45px;
  background: #2F2C42;
  color: white;
  border-radius: 10px;
  font-family: sans-serif;
  outline: none;
  border: none;
  font-size: 14px;
}
.popup input:hover {
  background: #836CFF;
  transition-duration: 0.5s;
  cursor: pointer;
}

.popup_content button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 32px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup_content button.close:hover {
  color: #7d9862;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.popup.active .popup_content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

#else_text {
  text-align: center;
  margin: 150px;
  font-family: sans-serif;
  color: #2F2C42;
  font-size: 20px;
}

#msg {
  width: 380px;
  position: relative;
  bottom: 300px;
  margin: 0 auto 25px auto;
  padding: 30px 20px;
  text-align: center;
  border: solid 4px #2F2C42;
  border-radius: 12px;
  background-color: #58517E;
  font-family: Prociono;
  font-size: 20px;
  color: #ECE0E0;
}

.msg p {
  font-weight: bold;
  margin: 0;
}

.progress {
  width: 0;
  height: 10px;
  background: #2F2C42;
  position: absolute;
  bottom: 5px;
  left: 3%;
  border-radius: 12px;
  animation-name: progress;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #2F2C42;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #58517E;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #836CFF;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}