body{
	background-color: #E5E5E5;
	margin: 0;
	cursor: default;
	overflow-x: hidden;
}

header{
	display: block;
	text-align: center;
}

.among_us{
	margin: 0 auto;
	margin-top: 50px;
	min-height: 200px;
	max-height: 1000px;
	text-align: center;
	overflow-wrap: break-word;
	font-family: Prociono;
	font-size: 24px;
	font-style: normal;
	cursor: default;
}

#fb_form{
	margin: 0 auto;
	text-align: center;
	cursor: default;
}

#name, #text_form, #sub_button, #user_name, #feedback{
	font-size: 20px;
	font-family: Prociono;
	font-style: normal;
	position: relative;
	top: 10px;
	text-align: center;
}

#name{
	cursor: text;
}

#text_form{
	outline: none;
	border: solid 2px #393F3A;
	border-radius: 2px;
	border-bottom-right-radius: 30px;
	cursor: text;
}

textarea{
  	min-height: 50px;
  	height: 100px;
  	max-height: 185px;
  	min-width: 400px;
  	width: 100px;
  	max-width: 600px;
}


#sub_button{
	background: #58517E;
	border: solid 2px #2F2C42;
  	border-radius: 10px;
  	color: #E5E5E5;
  	outline: none;
  	width: 200px;
  	height: 40px;
  	top: 14px;
  	cursor: pointer;
}

#sub_button:active{
	top: 15px;
	cursor: pointer;
	background-color: #836CFF;
}

#feedback{
	margin-top: 100px;
	margin-bottom: 100px;
}

#fb_ready{
	margin: 0 auto;
	background: #E5E5E5;
	border: solid 2px #393F3A;
  	border-radius: 10px;
  	margin-bottom: 20px;
  	min-width: 0px;
  	max-width: 50%;
  	overflow-wrap: break-word;
  	max-height: 500px;
  	min-height: 100px;

}

#fb_ready:hover{
   max-height: 300px;
   transition: 1s;
}

#otziv{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -20px;
}

#fb_else{
	text-align: center;
	font-family: Prociono;
	font-size: 45px;
	margin-top: 100px;
	margin-bottom: 100px;
}

#fb_else span:hover{
	animation-name: color_change;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	cursor: pointer;
}

i:hover{
	animation-name: color_change;
	animation-duration: 15s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	cursor: pointer;
}
#more{
	display: block;
	margin-left: auto;
 	margin-right: 0.7em;
}

@keyframes color_change{
	14%{color: red;}
	28%{color: orange;}
	44%{color: yellow;}
	57%{color: green;}
	71%{color: lightblue;}
	85%{color: blue;}
	100%{color: purple;}
}

