body{
	background-color: #E5E5E5;
	margin: 0;
	cursor: default;
	overflow-x: hidden;
}

.poloska{
	height: 38px;
	background: #393F3A;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	margin-top: 40px;
}

.order{
	float: left;
	border: 3px solid #393F3A;
	border-radius: 5px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	min-width: 200px;
	max-width: 600px;
	min-height: 100px;
	max-height: 300px;
	background-color: white;
	text-align: center;
	overflow-wrap: break-word;
	overflow: hidden;
}

p{
	font-family: Prociono;
	font-size: 18px;
	text-align: center;
}

#name{
	font-family: Prociono;
	font-size: 18px;
	text-align: center;
}

#button{
	outline: none;
	border: 2px solid #393F3A;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #417246;
	color: white;
	width: 100px;
	height: 45px;
	position: relative;
	cursor: pointer;
}

#button:active{
	top: -10px;
}

a{
	font-size: 20px;
	font-family: Prociono;
	font-style: normal;
	margin-left: 20px;
	text-decoration: none;
	color: black;
}

a:hover{
	color: #bf94e4;
}

#a_prd_reg{
	font-size: 30px;
	font-family: Prociono;
	font-style: normal;
	margin-bottom: 20px;
	margin: 0 auto;
	text-decoration: none;
	margin-left: 20px;
}