<!DOCTYPE html>
<html>
<head>
	<title>404: Не найдено</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="poloska"></div>

	<header>
		<span id="headtxt">YUPIBUM</span>
		<br>
		<br>
		<span id="headtxt_under">- украшения ручной работы, изготовленные с любовью.</span>
	</header>

	<p id="entrance">404: Страница не найдена!</p>
	<p id="entrance">Похоже, страницы, на которую вы пытаетесь перейти, не существует.</p>

</body>
</html>