<!DOCTYPE html>
<html>
<head>
	<title>Страница администратора</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
    <meta charset="UTF-8">
</head>
<body>

	<div class="poloska"></div>
	<h1>Страница администратора</h1>
	<div class="section">
	<br>
	<a href="/new_product_reg">→Регистрация нового продукта</a>
	<br>
	<br>
	<a href="/orders">→Просмотр заказов</a>
    </div>

</body>
</html>