<!DOCTYPE html>
<html>
<head>
	<title>Отзывы о нас</title>
</head>
<body>

	{% if session.user_name %}
		<p>Ваше имя: {{ session.user_name }}</p>

		<form method="post">
			<input type="hidden" name="feedback_name" value="{{ session.user_name }}"><br>
			<input type="text" name="feedback_text" placeholder="Введите текст отзыва"><br>
			<input type="submit" value="Отправить отзыв">
		</form>
	{% else %}
		<p>Вы должны войти, чтобы оставить отзыв.</p>
	{% endif %}

	{% if feedbacks|length > 0 %}

			{% for el in feedbacks %}
				<p>Имя: {{ el.feedback_name }}</p>
				<p>Отзыв: {{ el.feedback_text }}</p>
				<br>
			{% endfor %}

	{% else %}
		<p>Здесь пока нет отзывов</p>
	{% endif %}

</body>
</html>