<!DOCTYPE html>
<html>
<head>
	<title>Отзывы о нас</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='feedback_style.css') }}">
	<meta charset="UTF-8">
</head>
<body>

	<header class="header__panel">
		<div class="wrapper">
			<div class="social">
				<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
				<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
				<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
			</div>
			<div class="login">
				{% if session.user_name %}
					<span>Вы вошли как <i>{{ session.user_name }}</i></span> <a class="log" href="/user_logout">Выйти</a>
				{% else %}
					 <a href="/user_login">Войти</a>
				{% endif %}
			</div>
		</div>
	</header>

	<div id="fb_form">

	{% if session.user_name %}
		<p id="user_name">Ваше имя: {{ session.user_name }}</p>

		<form method="post">
			<input id="name" type="hidden" name="feedback_name" value="{{ session.user_name }} " autocomplete="off"><br>
			<textarea id="text_form" type="text" name="feedback_text" placeholder="Введите текст отзыва" autocomplete="off" maxlength="200"></textarea><br>
			<input id="sub_button" type="submit" value="Отправить отзыв" autocomplete="off">
		</form>

	</div>

	{% else %}
		<p>Вы должны войти, чтобы оставить отзыв.</p>
	{% endif %}

	{% if feedbacks|length > 0 %}

	<div id="feedback">
			{% for el in feedbacks %}
			<div id="fb_ready">
				<p>Имя: {{ el.feedback_name }}</p><br>
				<p id="otziv">Отзыв: {{ el.feedback_text }}</p>
				<br>
			</div>
			{% endfor %}

	{% else %}
		<p id="fb_else">Здесь пока нет отзывов<br><span>:(</span></p>
	{% endif %}

	</div>

	<footer class="footer" id="contacts">
	<h2>YUPIBUM</h2>
	<div class="decoration__line"></div>
	<span>- украшения ручной работы,</span>
	<span> изготовленные с любовью.</span>
	<div class="social">
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
		<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
	</div>
	</footer>

</body>
</html>