<!DOCTYPE html>
<html lang="ru">
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<header class="header__panel">
	<div class="wrapper">
		<div class="social">
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
		</div>
		<div class="login">
			{% if session.user_name %}
				You are logged as {{ session.user_name }} <a class="log" href="/user_logout">Log Out</a>
			{% else %}
				 <a href="/user_login">Войти</a>
			{% endif %}
		</div>
	</div>
</header>

<div class="image-wrapper">
	<div class="search">
		<form name="test" method="post" action="input1.php">
			<input class="input-search" type="text" placeholder="Поиск товара по категории">
		</form>
		<button class="button-search">Поиск</button>
	</div>

	<div class="description">
		<h1>YUPIBUM</h1>
		<span>- украшения ручной работы,</span>
		<span>изготовленные с любовью.</span>
	</div>

	<div class="leaf-block">
		<div class="box"></div>
		<div class="box_img">
			<img src="{{ url_for('static', filename='images/front-img.png') }}">
		</div>
	</div>

	<nav class="navigation">
		<button class="active-button"><a href="#">ГЛАВНАЯ</a></button>
		<button class="button"><a href="#">О НАС</a></button>
		<button class="button"><a href="#">КАТАЛОГ</a></button>
		<button class="button"><a href="#">КОНТАКТЫ</a></button>
		<button class="button"><a href="#">КОРЗИНА</a></button>
	</nav>
</div>


<div class="products__wrapper">
	<div class="products__cards">
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-1.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-2.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-3.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-4.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-5.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-6.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-1.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-2.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
		<a class="card" href="#">
			<img class="card__image" src="{{ url_for('static', filename='images/product-3.jpg') }}">
			<div class="card__content">
				<div class="card__content__price">1300 руб.</div>
				<div class="card__content__title">
					<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
				</div>
			</div>
		</a>
	</div>
</div>

<footer class="footer">
	<h2>YUPIBUM</h2>
	<div class="decoration__line"></div>
	<span>- украшения ручной работы,</span>
	<span> изготовленные с любовью.</span>
	<div class="social">
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
	</div>
</footer>

</body>
</html>