<!DOCTYPE html>
<html lang="ru">
<html>
<head>
	<meta charset="UTF-8">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

<header class="header__panel">
	<div class="wrapper">
		<div class="social">
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
			<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
		</div>
		<div class="login">
			{% if session.user_name %}
				Вы вошли как {{ session.user_name }} <a class="log" href="/user_logout">Выйти</a>
			{% else %}
				 <a href="/user_login">Войти</a>
			{% endif %}
		</div>
	</div>
</header>

<div class="image-wrapper">
	<div class="search">
		<form method="post" action="/products">
			<select name="category">
				<option>Выберите категорию</option>
				<option value="Браслет">Браслет</option>
				<option value="Чокер">Чокер</option>
				<option value="Цепочка">Цепочка</option>
				<option value="Кулон">Кулон</option>
				<option value="Сережка">Сережка</option>
				<option value="Кольцо">Кольцо</option>
			</select><br>
			<button class="button-search" type="submit">Поиск</button>
		</form>
	</div>

	<div class="description">
		<h1>YUPIBUM</h1>
		<span>- украшения ручной работы,</span>
		<span>изготовленные с любовью.</span>
	</div>

	<div class="leaf-block">
		<div class="box"></div>
		<div class="box_img">
			<img src="{{ url_for('static', filename='images/front-img.png') }}">
		</div>
	</div>

	<nav class="navigation">
		<button class="active-button"><a href="/">ГЛАВНАЯ</a></button>
		<button class="button"><a href="#">О НАС</a></button>
		<button class="button"><a href="/products">КАТАЛОГ</a></button>
		<button class="button"><a href="#contacts">КОНТАКТЫ</a></button>
		<button class="button"><a href="/cart">КОРЗИНА</a></button>
	</nav>
</div>


<div class="products__wrapper">
	<div class="products__cards" id="products">
		{% for el in products %}
			<a class="card" href="/products/{{ el.id }}">
				<img class="card__image" width="261" height="262" src="data:;base64,{{ el.product_img }}">
				<div class="card__content">
					<div class="card__content__price">{{ el.product_cost }} тенге</div>
					<div class="card__content__title">
						<img class="card__like" src="{{ url_for('static', filename='icons/like-icon.png') }}">
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</div>


<footer class="footer" id="contacts">
	<h2>YUPIBUM</h2>
	<div class="decoration__line"></div>
	<span>- украшения ручной работы,</span>
	<span> изготовленные с любовью.</span>
	<div class="social">
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
		<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
		<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
	</div>
</footer>

</body>
</html>