<!DOCTYPE html>
<html lang="ru">
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<header class="header__panel">
	<div class="wrapper">
		<div class="social">
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
		</div>
		<div class="login">
			{% if session.user_name %}
				You are logged as {{ session.user_name }} <a href="/user_logout">Log Out</a>
			{% else %}
				You are not logged in <a href="/user_login">Log In</a>
			{% endif %}
		</div>
	</div>
</header>
</body>
</html>