<!DOCTYPE html>
<html>
<head>
	<title>New Product Registration</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
	<form enctype="multipart/form-data" method="post">
		<input type="text" id="product_name" name="product_name" placeholder="Название товара"><br>
		<textarea type="text" id="product_description" name="product_description" placeholder="Описание"></textarea><br>
		<input type="file" name=product_img id="product_img"><br>
		<input type="text" name="product_cost" placeholder="Цена"><br>
		<input type="submit" value="Submit">
	</form>
</html>