<!DOCTYPE html>
<html>
<head>
	<title>Plase ur order</title>
</head>
<body>
	<form method="post">
		<input type="text" id="name" name="name" placeholder="Введите Ваше имя"><br>
		<input type="text" id="contact" name="contact" placeholder="Как мы можем с Вами связаться?"><br>
		<input type="hidden" id="order" name="order" value="{{ session['cart'] }}"><br>
		<p>Ваш заказ: </p>
		{% for product in session['cart'] %}
			<p>{{ product }}</p>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
</body>
</html>