<!DOCTYPE html>
<html>
<head>
	<title>Products</title>
</head>
<body>
	{% if products|length > 0 %}

		{% for el in products %}
			<a href="/products/{{ el.id }}"><p>Название {{ el.product_name }}</p></a>
			<p>Изображение </p> <img width="200" height="200" src="data:;base64,{{ el.product_img }}">
			<p>Цена: {{ el.product_cost }} тенге.</p>

			<form method="post" action="/cart">
				<input type="hidden" name="cart_prod_name" value="{{ el.product_name }}">
				<input type="submit" value="Добавить в коризину">
			</form>
		{% endfor %}

	{% else %}
		<p>Здесь пока нет товаров</p>
	{% endif %}
</body>
</html>