<!DOCTYPE html>
<html>
<head>
	<title>{{ product.product_name }}</title>
</head>
<body>
 
<h1>{{ product.product_name }}</h1>

<p>{{ product.product_description }}</p>
<p>Изображение </p> <img width="200" height="200" src="data:;base64,{{ product.product_img }}">
<p>Цена: {{ product.product_cost }}</p>

<form method="post">
	<input type="hidden" name="fb_id" value="product.id">
	<input type="text" name="text"><br>
	<input type="submit" value="Отправить отзыв">
</form>

<br>
<form method="post" action="/cart">
	<input type="hidden" name="cart_prod_name" value="{{ product.product_name }}">
	<input type="submit" value="Добавить в коризину">
</form>

{% for fb in feedbacks %}
	{% if fb.fb_id == product.id %}
		<p>{{ fb.user_name }}</p>
		<p>{{ fb.text }}</p>
		<p>{{ fb.date }}</p>
	{% endif %}
{% endfor %}

</body>
</html>