<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Ваша Корзина</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>

	<header class="header__panel">
		<div class="wrapper">
			<div class="social">
				<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
				<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
				<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
			</div>
		</div>
	</header>

	<div class="image_wrapper">
		<div class="description">
			<h1>YUPIBUM</h1>
			<span>- украшения ручной работы,</span>
			<span>изготовленные с любовью.</span>
		</div>
		<nav class="navigation">
			<button class="button" onclick="window.location.href = '/';"><a href="/">ГЛАВНАЯ</a></button>
			<button class="button" onclick="window.location.href = '#';"><a href="#">О НАС</a></button>
			<button class="button" onclick="window.location.href = '/products';"><a href="/products">КАТАЛОГ</a></button>
			<button class="button" onclick="window.location.href = '#';"><a href="#contacts">КОНТАКТЫ</a></button>
			<button class="button" onclick="window.location.href = '/cart';"><a href="/cart">КОРЗИНА</a></button>
		</nav>
	</div>

	<div class="cart_title">Корзина</div>
	<div class="decoration_line"></div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div id="msg">
                <p>{{ msg }}</p>
                <div class="progress"></div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

	{% if cart_products|length > 0 %}
	<div class="main_content">

	<div class="product_main">
		{% for p in cart_products %}

				<div class="product">
					<div class="product_image">
						<img class="product_image_inner" width="100" height="100" src="data:;base64,{{ p.product_img }}">
					</div>

					<div class="product_title">
						<div class="product_title_inner">{{ p.product_name }}</div>
					</div>

					<div class="product_price">
						<div class="product_price_inner">{{ p.product_cost }} тенге</div>
					</div>
				</div>

		{% endfor %}
	</div>

		<div class="price">
			<div class="price_total">Итого: <span class="green">{{ full_cost }}</span> тенге</div>
			<button class="popup_button" id="open">Оформить заказ</button>
			<div class="clear_button"><a href="/cart_clear">Очистить корзину</a></div>
		</div>

	</div>


	{% else %}
		<p id="else_text">В Вашей корзине пока нет товаров.</p>
	{% endif %}



	<footer class="footer" id="contacts">
		<h2>YUPIBUM</h2>
		<div class="decoration__line"></div>
		<span>- украшения ручной работы,</span>
		<span> изготовленные с любовью.</span>
		<div class="social">
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/vk-icon.png') }}"></a></div>
			<div class="social__item"><a href="#"><img src="{{ url_for('static', filename='icons/google-icon.png') }}"></a></div>
			<div class="social__item"><a href="https://www.instagram.com/yupibum.kz/" target="_blank"><img src="{{ url_for('static', filename='icons/inst-icon.png') }}"></a></div>
		</div>
	</footer>


		<div class="popup">
			<div class="popup_content">

				<button class="close">&times;</button>

				<h2 class="popup_title">Оформление заказа</h2>

				<form method="POST" action="/order">
					<div class="popup_action">
					<input type="hidden" id="order" name="order" value="{{ session['cart'] }}"><br>
					<textarea  type="text" id="contact" name="contact" placeholder="Как мы можем с Вами связаться?"></textarea><br>
						<input id="popup_input_button" type="submit" value="Оформить заказ">
					</div>
				</form>
			</div>
		</div>



	<script src="{{ url_for('static', filename='cart.js') }}"></script>
	<script src="{{ url_for('static', filename='cart2.js') }}"></script>
</body>

</html>