<!DOCTYPE html>
<html>
<head>
	<title>Регистрация</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

	<div class="poloska">

	</div>

	<header>

		<span id="headtxt">YUPIBUM</span>

		<br>
		<br>

		<span id="headtxt_under">- украшения ручной работы, изготовленные с любовью.</span>

	</header>
	
		
	<p id="reg_entrance">Регистрация</p>

	<div id="regform">

	<form  method="post">
		<input id="reg_nameput" type="text" name="username" placeholder="Введите имя пользователя" autocomplete="off"><br>
		<input id="reg_nameput" type="email" name="email" placeholder="Введите электронную почту" autocomplete="off"><br>
		<input id="reg_nameput" type="password" name="paswrd" placeholder="Введите пароль" autocomplete="off"><br>
		<input id="regbutton" type="submit" value="Зарегистрироваться">
	</form>
	
 	</div>

</body>

</html>
